version: '3'
services:
  finagle-client:
    build: ../finagle-helloworld
    links:
      -  finagle-server
    command: client/run
  finagle-server:
    build: ../finagle-helloworld
    ports:
      - 9992:9992
